.App {
  text-align: center;
  background-color: black;
  color: white;
}

.App-banner-mobile {
  display: none; /* hide mobile banner by default */
  max-width: 100%;
  height: auto;
}

.App-banner-desktop {
  max-width: 100%;
  height: auto;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .App {
    height: 100vh; /* set the height of App container to 100% of viewport height */
    display: flex; /* use flexbox to center the mobile banner vertically */
    align-items: center;
    justify-content: center;
  }

  .App-banner-desktop {
    display: none; /* hide desktop banner on mobile devices */
  }

  .App-banner-mobile {
    display: block; /* show mobile banner on mobile devices */
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
